.text-primary-0 {
    color: rgb(78,115,223) !important;
  }
  
  .text-primary-1 {
    color: rgb(222,78,114) !important;
  }
  
  .text-primary-2 {
    color: rgb(222,186,78) !important;
  }
  
  .text-primary-3 {
    color: rgb(78,222,186) !important;
  }
  
  .text-primary-4 {
    color: rgb(78,187,222) !important;
  }
  
  .text-primary-5 {
    color: rgb(113,78,222) !important;
  }
  
  .text-primary-6 {
    color: rgb(222,78,187) !important;
  }
  
  .text-primary-7 {
    color: rgb(78,222,113) !important;
  }
  
  .text-primary-8 {
    color: rgb(222,113,78) !important;
  }
  
  .text-primary-9 {
    color: rgb(114,222,78) !important;
  }