/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: rgb(65, 121, 226);
    color: white;
    float: left;
    border: none;
    outline: solid;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 10%;
  }
  
  .tablink:hover {
    background-color: rgb(168, 184, 230);
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: rgb(0, 0, 0);
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
